* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.container {
  margin: 0px auto;
  max-width: 320px;
}
.container-chat {
  width: 100%;
  min-height: 533px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 9px auto;
  padding: 9px;
  /* position: relative; */
}
.head {
  /* padding: 9px; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  max-height: 32px;
}
.settings {
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.drop-btn {
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn {
  height: 32px;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}
.btn:hover {
  content: "";
  transition: all 0.4s;
  color: rgb(245, 248, 246);
  background-color: rgb(22, 21, 21);
}
.exit {
}
.exit-btn {
}
.middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  height: 437px;
  max-width: 307px;
}
.middle-chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid black;
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chat-message {
  max-width: fit-content;
  background-color: #e5e5e5;
  margin: 8px;
  font-size: 16px;
  padding: 5px;
}
.my {
  align-self: end;
  color: rgb(94, 3, 94);
  background-color: #f3deee;
}
.other {
  align-self: start;
  color: rgb(6, 87, 51);
}
.message-text {
}
.message-time {
  display: flex;
  justify-content: end;
  color: #333333;
  font-size: 14px;
  font-style: italic;
}

.footer {
}
.messages {
}
.sendmessages {
  display: flex;
  justify-content: space-between;
}
.message-input {
  width: 267px;
  margin-right: 8px;
}
.inp {
  height: 32px;
}

.sendmessages-btn {
}

.settings-modal {
  width: 320px;
  min-height: 533px;
  background-color: rgba(83, 83, 83, 0.8);
  /* display: none; */
  visibility: hidden;
  z-index: 2;
  position: fixed;
  top: 9px;
}
.settings-inner {
  display: flex;
  flex-direction: column;
  height: 319px;
  max-width: 273px;
  background-color: #fff;
  padding: 16px 14px;
  transform: translate(9%, 32%);
}
.settings-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.settings-text {
}
.settings-text__autoconf {
  margin-bottom: 70px;
}

.close-btn {
  border: none;
  background-color: rgb(255, 255, 255);
  background-image: url(./image/x.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  padding: 5px;
  cursor: pointer;
}
.close-btn:hover {
  content: "";
  background-image: url(./image/x-r2.png);
  background-repeat: no-repeat;
  background-size: 100%;

  transition: all 0.3s;
}
.name-inchat {
  margin-bottom: 8px;
}
.settings-input {
  display: flex;
  justify-content: space-between;
}
.form__autoconf {
  margin-bottom: 10px;
  height: 32px;
  width: 100%;
}
.input__value {
  margin-bottom: 10px;
  height: 32px;
  width: 100%;
}

.settings-input__name {
  height: 32px;
  width: 85%;
}
.settings-btn {
}
